In [12]:
import scipy.io
import numpy as np
import pandas as pd
mat = scipy.io.loadmat('labels.mat')
labels = mat['labels'].astype(np.ndarray)
df = pd.DataFrame(columns = ['xctr', 'yctr', 'zctr', 'xlen', 'ylen', 'zlen', 'xrot', 'yrot', 'zrot'])
print(labels[0][0][0])

for label in labels:
    try:
        df.loc[len(df.index)] = label[0][0]
    except Exception as x:
        print(x)

df

[6.73875057 1.08176211 0.11414842 0.60920433 0.95890224 1.69208833
 0.         0.         0.        ]

,xctr,yctr,zctr,xlen,ylen,zlen,xrot,yrot,zrot
0,6.738751,1.081762,0.114148,0.609204,0.958902,1.692088,0.0,0.0,0.0
1,6.734227,1.220559,0.113827,0.610298,0.957034,1.694831,0.0,0.0,0.0
2,6.729703,1.359355,0.113505,0.611393,0.955165,1.697573,0.0,0.0,0.0
3,6.725180,1.498152,0.113183,0.612487,0.953296,1.700316,0.0,0.0,0.0
4,6.720656,1.636948,0.112862,0.613581,0.951427,1.703058,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
140,5.318641,20.566359,-0.291215,0.828275,0.753081,1.659962,0.0,0.0,0.0
141,5.302545,20.705967,-0.296835,0.830338,0.752032,1.656587,0.0,0.0,0.0
142,5.286450,20.845576,-0.302456,0.832401,0.750984,1.653211,0.0,0.0,0.0
143,5.270355,20.985185,-0.308077,0.834465,0.749935,1.649835,0.0,0.0,0.0
144,5.254010,21.126963,-0.313785,0.836560,0.748870,1.646407,0.0,0.0,0.0